*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.imagem img{
    width:100%;
    height:160px;
    object-fit:cover;
    border-radius:10px;
}

body{
    background:#f4fff1;
}

/* MENU */

header{
    background:#2e7d32;
    color:white;
    padding:20px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:32px;
    font-weight:bold;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-size:18px;
}

/* HERO */

.hero{
    text-align:center;
    padding:60px 20px;
}

.hero h1{
    font-size:45px;
    color:#2e7d32;
    margin-bottom:20px;
}

section {
    text-align: center;
 }

.hero p{
    font-size:20px;
    margin-bottom:30px;
}

.hero button{
    padding:15px 30px;
    font-size:18px;
    border:none;
    background:#43a047;
    color:white;
    cursor:pointer;
    border-radius:10px;
    transition:0.3s;
}

.hero button:hover{
    background:#2e7d32;
    transform:scale(1.05);
}

/* PRODUTOS */

.produtos{
    padding:40px;
}

.produtos h2{
    text-align:center;
    color:#2e7d32;
    margin-bottom:40px;
    font-size:35px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:280px;
    padding:20px;
    border-radius:15px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
    text-align:center;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.imagem{
    width:100%;
    height:160px;
    background:#c8e6c9;
    border-radius:10px;
    margin-bottom:15px;
}

.card h3{
    color:#2e7d32;
    margin-bottom:10px;
}

.preco{
    font-size:22px;
    color:#388e3c;
    margin-bottom:15px;
}

.card button{
    padding:10px 20px;
    border:none;
    background:#43a047;
    color:white;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

.card button:hover{
    background:#2e7d32;
}

/* Estilo para os botões das redes sociais */
.social-btn {
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  /* Estilo específico para o botão do Facebook */
  .facebook-btn {
    background-color: #3b5998;
  }
  
  .facebook-btn:hover {
    background-color: #2d4373;
  }
  
  /* Estilo específico para o botão do TikTok */
  .tiktok-btn {
    background-color: #000;
  }
  
  .tiktok-btn:hover {
    background-color: #333;
  }

/* SOBRE */

.sobre{
    padding:50px 20px;
    text-align:center;
    background:#e8f5e9;
}

.sobre h2{
    color:#2e7d32;
    margin-bottom:20px;
    font-size:35px;
}

.sobre p{
    font-size:20px;
    max-width:800px;
    margin:auto;
}

/* FOOTER */

footer{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}