*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

.card img{
    width:10%;
    height:10%;
    object-fit:cover;
    border-radius:8px;
}

img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* MENU */

header{
    background:#2e7d32;
    color:white;
    padding:20px;
}
nav{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:15px;
    background:#2e7d32;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.logo{
    font-size:32px;
    font-weight:bold;
}
/* HERO */

.hero{
    text-align:center;
    padding:60px 20px;
    background:white;
}

section {
    text-align: center;
 }

 .hero h1{
    font-size:3rem;
}

.hero p{
    font-size:1.2rem;
}

.hero button{
    background:#2e7d32;
    color:white;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    font-weight:bold;
}

.hero button:hover{
    background:#2e7d32;
    transform:scale(1.05);

/* PRODUTOS */
.produtos{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    width:300px;
    background:white;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    text-align:center;
    padding:15px;
}
.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card:hover{
    transform:translateY(-10px);
}

.imagem{
    width:100%;
    height:160px;
    background:#c8e6c9;
    border-radius:10px;
    margin-bottom:15px;
}

.card h3{
    color:#2e7d32;
    margin-bottom:10px;
}

.preco{
    font-size:22px;
    color:#388e3c;
    margin-bottom:15px;
}

.card button{
    padding:10px 20px;
    border:none;
    background:#43a047;
    color:white;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

.card button:hover{
    background:#2e7d32;
}

/* Estilo para os botões das redes sociais */
.social-btn {
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease;
  }

button {
    color: green;
}
  
  /* Estilo específico para o botão do Facebook */
  .facebook-btn {
    background-color: #3b5998;
  }
  
  .facebook-btn:hover {
    background-color: #2d4373;
  }
  
  /* Estilo específico para o botão do TikTok */
  .tiktok-btn {
    background-color: #000;
  }
  
  .tiktok-btn:hover {
    background-color: #333;
  }

/* SOBRE */

.sobre{
    padding:50px 20px;
    text-align:center;
    background:white;
}

.direitos {
    padding:50px 20px;
    text-align:center;
    background:white;
}

.sobre h2{
    color:#2e7d32;
    margin-bottom:20px;
    font-size:35px;
}

.sobre p{
    font-size:20px;
    max-width:800px;
    margin:auto;
}

/* FOOTER */

footer{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:20px;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}